<option value="other">Other</option>
<option value="adams inn">Adams Inn</option>
<option value="algonquin club">Algonquin Club</option>
<option value="atlantica restaurant">Atlantica Restaurant</option>
<option value="back bay hilton">Back Bay Hilton</option>
<option value="barkers tavern">Barkers Tavern</option>
<option value="beechwood hotel">Beechwood Hotel</option>
<option value="best western waltham">Best Western Waltham</option>
<option value="billerica country club">Billerica Country Club</option>
<option value="blue hill country club">Blue Hill Country Club</option>
<option value="boston college club">Boston College Club</option>
<option value="brookmeadow country club">Brookmeadow Country Club</option>
<option value="burlington marriott">Burlington Marriott</option>
<option value="byblos">Byblos</option>
<option value="cape codder resort">Cape Codder Resort</option>
<option value="catering with distinction">Catering with Distinction</option>
<option value="charles river boat co">Charles River Boat Co</option>
<option value="china pearl boston">China Pearl Boston</option>
<option value="china pearl quincy">China Pearl Quincy</option>
<option value="demetris">Demetris</option>
<option value="cohasset harbor inn">Cohasset Harbor Inn</option>
<option value="colonial inn">Colonial Inn</option>
<option value="colonnade hotel">Colonnade Hotel</option>
<option value="creative catering">Creative Catering</option>
<option value="creative gourmet">Creative Gourmet</option>
<option value="crown plaza newton">Crown Plaza Newton</option>
<option value="crown plaza woburn">Crown Plaza Woburn</option>
<option value="dan'l webster inn">Dan'l Webster Inn</option>
<option value="dedham hilton">Dedham Hilton</option>
<option value="demetri">Demetri</option>
<option value="double tree milford">Double Tree Milford</option>
<option value="double tree boston">Double Tree Boston</option>
<option value="double tree lowell">Double Tree Lowell</option>
<option value="embassy suites @ logan">Embassy Suites @ Logan</option>
<option value="embassy suites waltham">Embassy Suites Waltham</option>
<option value="emc club fenway park">EMC Club Fenway Park</option>
<option value="entertainment cruises">Entertainment Cruises</option>
<option value="fireside catering">Fireside catering</option>
<option value="generations">Generations</option>
<option value="gibbet hill">Gibbet Hill</option>
<option value="granite links">Granite Links</option>
<option value="harborside hyatt">Harborside Hyatt</option>
<option value="harvard club comm">Harvard Club Comm</option>
<option value="harvard club federal">Harvard Club Federal</option>
<option value="hillside country club">Hillside Country Club</option>
<option value="hilton burlington">Hilton Burlington</option>
<option value="holiday inn peabody">Holiday Inn Peabody</option>
<option value="holiday inn dedham">Holiday Inn Dedham</option>
<option value="holiday inn mansfield">Holiday Inn Mansfield</option>
<option value="holiday inn newton">Holiday Inn Newton</option>
<option value="holiday inn peabody">Holiday Inn Peabody</option>
<option value="holiday inn randolph">Holiday Inn Randolph</option>
<option value="holiday inn rockland">Holiday Inn Rockland</option>
<option value="holiday inn somerville">Holiday Inn Somerville</option>
<option value="holiday inn tounton">Holiday Inn Tounton</option>
<option value="hotel marlowe">Hotel Marlowe</option>
<option value="hotel viking">Hotel Viking</option>
<option value="hyatt regency boston">Hyatt Regency Boston</option>
<option value="hyatt regency cambridge">Hyatt Regency Cambridge</option>
<option value="john carver inn">John Carver Inn</option>
<option value="lafayette house">Lafayette House</option>
<option value="lake pearl lucianos">Lake Pearl Lucianos</option>
<option value="lakeview pavilion">Lakeview Pavilion</option>
<option value="langham hotel">Langham Hotel</option>
<option value="lantanas">Lantanas</option>
<option value="le barron hills country club">Le Barron Hills Country Club</option>
<option value="le meridien">Le Meridien</option>
<option value="lenox hotel">Lenox Hotel</option>
<option value="logan hilton">Logan Hilton</option>
<option value="lombardos randolph">Lombardos Randolph</option>
<option value="long wharf marriott">Long Wharf Marriott</option>
<option value="m.i.t hotel">M.I.T Hotel</option>
<option value="marriott coply">Marriott Coply</option>
<option value="marriott courtyard camb">Marriott Courtyard Camb</option>
<option value="marriott tremont">Marriott Tremont</option>
<option value="millennium boston">Millennium Boston</option>
<option value="milton hoosic club">Milton Hoosic Club</option>
<option value="mit faculty">MIT Faculty</option>
<option value="monponsett inn">Monponsett Inn</option>
<option value="nantasket beach resort">Nantasket Beach Resort</option>
<option value="neighborhood club">Neighborhood Club</option>
<option value="newton marriott">Newton Marriott</option>
<option value="oakley country club">Oakley Country Club</option>
<option value="odyssey cruise ship">Oddyssey Cruise Ship</option>
<option value="omni parker house">Omni Parker House</option>
<option value="park plaza">Park Plaza</option>
<option value="peabody marriott">Peabody Marriott</option>
<option value="quincy marriott">Quincy marriott</option>
<option value="radisson cambridge">Radisson Cambridge</option>
<option value="radisson plymouth">Radisson Plymouth</option>
<option value="radisson rockland">Radisson Rockland</option>
<option value="raffaels walpole">Raffaels Wallpole</option>
<option value="red lion inn">Red Lion Inn</option>
<option value="renaissance foxboro">Renaissance foxboro</option>
<option value="renaissance boston water">Renaissance Boston Water</option>
<option value="royal plaza hotel">Royal Plaza Hotel</option>
<option value="royal sonesta">Royal Sonesta</option>
<option value="seaport hotel">Seaport Hotel</option>
<option value="seaport elite yacht">Seaport Elite Yacht</option>
<option value="sedexho">Sedexho</option>
<option value="shaw center">Shaw Center</option>
<option value="sheraton boston">Sheraton Boston</option>
<option value="sheraton boston">Sheraton Boston</option>
<option value="sheraton commander">Sheraton Commander</option>
<option value="sheraton framingham">Sharaton Framingham</option>
<option value="sheraton lexington">Sheraton Lexington</option>
<option value="sheraton needham">Sheraton Needham</option>
<option value="skywalk restaurant">Skywalk Restaurant</option>
<option value="south shore country club">South Shore Country Club</option>
<option value="st framingham">St Framingham</option>
<option value="tewksbury country club">Tewksbury Country Club</option>
<option value="top of the hub">Top Of The Hub</option>
<option value="trumans catering">Trumans Catering</option>
<option value="university of mass club">University Of Mass Club</option>
<option value="venezia">Venezia</option>
<option value="vincents/lombardos">Vicents/Lombardos</option>
<option value="wequassett inn">Wequassett Inn</option>
<option value="westin hotel @ copley">Westin Hotel @ Copley</option>
<option value="westin waltham">Westin Waltham</option>
<option value="westin waterfront">Westin Waterfront</option>
<option value="world trade center">World Trade Center</option>
<option value="wydham govt center">Wydham Govt Center</option>
<option value="wydham billerica">Wydham Billerica</option>